/* hystmodalBlock */

.hystmodalBlock{
    right: 0;
    width: 600px;
    height: 90vh;
    background: #fff;
    overflow-y: scroll;
    border-radius: 10px;
}


#content{
    padding: 15px;
}

#content h2{
    font-size: 20px;
    color: #424D6B;
}

.servicesCategoryTitle h2{
    font-size: 18px;
    color: #333;
}

.servicesBlock a{
    font-size: 14px;
    color: #424D6B;
    transition: .4s;
    margin: 5px 0 0 0;
    font-weight: 500;
}

.servicesBlock a:hover{
    color: #77AD9D;
}


.modalContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 25px 0 0 0;

}

.modalBlock{
    color: #424D6B;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 10px;
    margin: 0 0 10px 0;
    width: 100%;
    background: #f2f2f2;
    border-radius: 10px;
}

.modalBlock:nth-child(even){
    background: #fff;
}

.modalBlockImg img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.modalBlockText p{
    margin-left: 10px;
}

.servicesBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.servicesCategoryTitle{
    width: 100%;
}

/* ajaxBarber */

.barberBtn{

}

/* contentMonth */

.contentMonth{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-x: scroll;
    width: 500px;
    background: #fff;
    margin: 10px 0 0 0;
    height: auto;
}

.monthContainer{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}


.monthBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 60px;
    margin: 0 5px;
    transition: .4s;
    color: #424D6B; 
}

.montBlockDate{
    background: #ddd;
}

.montBlockActive{
    background: #77AD9D;
    color: #fff;
}

.monthBlock:hover{
    background: #77AD9D;
    color: #fff;
}

.monthBlockText p{
    font-size: 12px;
    width: 100%;
    text-align: center;
}

.containerBlock{
    width: 500px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0 0 0;
}

.timeBtn{
    text-align: center;
    width: 44%;
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    color: #424D6B;
    transition: .4s;
}

.timeBtn:hover{
    background: #77AD9D;
    color: #fff;
    border: 1px solid #77AD9D;

}


.noBlockDateTime{
    width: 100%;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px 0     ;
}

.noBlockDateTime p{
    color: #424D6B;
}