.titleSection h2{
    color: #424D6B;
    font-size: 32px;
}

.titleSection p{
    margin: 10px 0 0 0;
    color: #666;
    font-size: 16px;
}

/* btnGreen */

.btnGreen{
    padding: 18px 32px;
    background: #77AD9D;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    transition: .4s;
}

.btnGreen:hover{
    background: #424D6B;
}


.btnDark{
    padding: 18px 32px;
    background: #424D6B;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    transition: .4s;
}

.btnDark:hover{
    background: #77AD9D;
}

/* table */

.table{
	width: 100%;
	margin-bottom: 20px;
    text-align: center;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

.table th {
    color: #999;
	font-weight: unset;
    padding: 15px 0;
}

.table td{
    color: #666;
	padding: 20px 10px;
}

.table td a{
    color: red;
    margin: 0 5px;
    font-size: 12px;
}

.table tbody tr:nth-child(odd){
	background: #fff;
}

.table tbody tr:nth-child(even){
	background: #F7F7F7;
}

.table tbody tr:hover{
	background: #ebebeb;
}

.status{
    background: #77AD9D;
    padding: 10px;
    border-radius: 3px;
    font-size: 10px;
    color: #fff;
}

@media(min-width: 320px) and (max-width: 550px){
    .titleSection{
        text-align: center;
    }
}