

.home{
    background: url("../img/components/home/bg.jpg")no-repeat center / cover;
}

.homeContent{
    margin: 220px 0 220px;
    position: relative;
}

.homeContent{
    color: #fff;
}

.homeContent h2{
    font-size: 52px;
}

.homeContent h2 span{
    color: #77AD9D;
}

.homeContent p{
    font-size: 20px;
    font-weight: 500;
}

.spanUppercase{
    color: #77AD9D;
    text-transform: uppercase;
}

.homeBtnContainer{
    display: flex;
    align-items: center;
    margin: 25px 0 0 0;
}

.homeBtn{
    padding: 18px 32px;
    background: #77AD9D;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    transition: .4s;
}

.homeBtn:hover{
    background: #424D6B;
}

.homeBtnContainer p{
    margin-left: 15px;
    font-size: 14px;
    font-weight: unset;
}

/* advantagesContent */

.home .container{
    position: relative;
}

.advantagesContent{
    position: absolute;
    left: 0;
    bottom: -70px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px);
    background: #77AD9D;
    border-radius: 10px;
    padding: 20px;
}

.advantagesBlock{
    display: flex;
    align-items: center;
    width: 30%;
}

.advantagesBlockText{
    margin-left: 10px;
    color: #fff;
}

.advantagesBlockText h3{
    font-size: 16px;
}
.advantagesBlockText p{
    font-size: 14px;
}

/* about */

.about{
    margin: 120px 0 0 0;
}

.aboutTitle h2{
    color: #424D6B;
    font-size: 32px;
}

.aboutContent{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.aboutText{
    width: calc(100% - 625px);
}

.aboutText h2{
    font-size: 32px;
    color: #424D6B;
}

.aboutText p{
    margin: 15px 0 0 0;
    color: #666;
}

.aboutImg{
    width: 600px;
}

.aboutImg img{
    width: 100%;
    border-radius: 10px;
}

/* services */

.services{
    margin: 45px 0 0 0;
}

.servicesContent{
    margin: 25px 0 0 0;
}

.serviceBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    background: #f2f2f2;
}

.serviceBlock:nth-child(even){
    background: #fff;
}

.serviceBlockTitle p{
    color: #999;
    font-size: 14px;
}

.serviceBlockTitle h3{
    color: #424D6B;
    font-size: 16px;
}

.serviceBlockPrice p{
    font-weight: bold;
    color: #424D6B;
    font-size: 16px;
}

.serviceBtnContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 25px 0 0 0;
}

/* staff */

.staff{
    margin: 45px 0 0 0;
}

.staffContainer{
    display: flex;
    justify-content: space-between;
    margin: 25px 0 0 0;
}

.staffBlock{
    width: 250px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.staffImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.staffImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s;
}


.staffName{
    text-align: center;
    width: 100%;
}

.staffName h2{
    font-size: 18px;
    margin: 5px 0 0 0;
    color: #333;
    font-weight: 500;
}

.staffBlock:hover .staffImg img{
    transform: scale(1.1);
}


@media(min-width: 320px) and (max-width: 850px){
    .titleSection h2{
        font-size: 26px;
    }
    
    .titleSection p{
        font-size: 14px;
    }
    
    .homeContent{
        margin: 120px 0 200px;
        position: relative;
    }
    
    .homeContent{
        color: #fff;
        text-align: center;
    }
    
    .homeContent h2{
        font-size: 32px;
    }
    
    .homeContent p{
        font-size: 18px;
        font-weight: unset;
    }
    
    .homeBtnContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin: 25px 0 0 0;
    }
    
    .homeBtnContainer p{
        width: 100%;
        margin: 10px 0 0 0;
        font-size: 14px;
        font-weight: unset;
    }
    
    /* advantagesContent */
    
    .advantagesContent{
        bottom: -150px;
        width: calc(100% - 40px);
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px;
    }
    
    .advantagesBlock{
        width: 100%;
        margin: 10px 0;
    }

    .advantagesBlockImg img{
        width: 40px;
    }
    
    .advantagesBlockText{
        margin-left: 10px;
        color: #fff;
    }
    
    .advantagesBlockText h3{
        font-size: 16px;
    }
    .advantagesBlockText p{
        font-size: 14px;
    }
    
    /* about */

    .about{
        margin: 180px 0 0 0;
    }

    .aboutContent{
        flex-wrap: wrap;
    }

    .aboutText{
        width: 100%;
    }

    .aboutImg{
        margin: 25px 0 0 0;
        width: 100%;
    }

    /* services */

    .services{
        margin: 35px 0 0 0;
    }

    .servicesContent{
        margin: 15px 0 0 0;
    }

    .serviceBlock{
        padding: 15px 10px;
    }

    .serviceBlockTitle p{
        font-size: 12px;
    }

    .serviceBlockTitle h3{
        font-size: 14px;
    }

    .serviceBlockPrice p{
        font-size: 14px;
    }

    /* staff */

    .staffContainer{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .staffBlock{
        width: 150px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 35px 0 0 0;
    }

    .staffImg{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
    }

    .staffName h2{
        font-size: 14px;
    }
}


@media(min-width: 850px) and (max-width: 1020px){
    
    .homeContent{
        margin: 120px 0 200px;
        position: relative;
    }
    
    
    .homeContent h2{
        font-size: 32px;
    }
    
    .homeContent p{
        font-size: 16px;
        font-weight: unset;
    }
    
    /* advantagesContent */
    
    .advantagesContent{
        bottom: -50px;
        width: calc(100% - 20px);
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px;
    }
    
    .advantagesBlock{
        width: 33%;
        margin: 10px 0;
    }

    .advantagesBlockImg img{
        width: 40px;
    }
    
    .advantagesBlockText{
        margin-left: 10px;
        color: #fff;
    }
    
    .advantagesBlockText h3{
        font-size: 14px;
    }
    .advantagesBlockText p{
        font-size: 12px;
    }
    
    /* about */

    .about{
        margin: 120px 0 0 0;
    }

    .aboutTitle h2{
        color: #424D6B;
        font-size: 32px;
    }

    .aboutContent{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .aboutText{
        width: calc(100% - 425px);
    }

    .aboutText h2{
        font-size: 32px;
        color: #424D6B;
    }

    .aboutText p{
        margin: 15px 0 0 0;
        color: #666;
    }

    .aboutImg{
        width: 400px;
    }

    .aboutImg img{
        width: 100%;
        border-radius: 10px;
    }

}




















