.formContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.formLeft{
    display: flex;
    width: 58%;
}

.formLeftInput{
    padding-left: 15px;
}


.formRight{
    width: 40%;
}

.inputForm{
    width: calc(100% - 28px);
    border: 1px solid #ddd;
    padding: 14px;
    margin: 0 0 10px 0;
    border-radius: 10px;
    background: #fff;
}

.select{
    width: 100% !important;
}

.file{
    display: none;
}

.filePhoto{
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background: #f2f2f2;
    overflow: hidden;
}

.filePhoto img{
    width: 100%;
    object-fit: cover;
}

.textarea{
    resize: vertical;
    height: 80px;
}

.submit{
    width: 100%;
    margin: 10px 0 0 0;
    color: #fff;
    background: #2C374D;
    border: 1px solid #2C374D;
    padding: 14px 28px;
    transition: .2s;
}

.submit:hover{
    background: none;
    color: #2C374D;
}


/* staff */

.staffContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.staff{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 320px;
    margin: 35px 0 0 0;
}

.staffPhoto{
    display: flex;
    justify-content: center;
    width: 160px;
    height: 160px;
    border-radius: 10px;
    background: #f2f2f2;
    overflow: hidden;
}

.staffPhoto img{
    width: 100%;
    object-fit: cover;
}

.staffInformation{
    text-align: center;
    width: 100%;
}

.staffInformation h2{
    color: #2C374D;
    font-size: 18px;
    margin-top: 15px;
}

.staffInformation p{
    display: flex;
    justify-content: center;
    color: #666;
    font-size: 14px;
    width: 100%;
}

.staffAction{
    text-align: center;
    width: 100%;
    margin: 10px 0 0 0;
}

.staffActionEdit{
    display: inline-block;
    padding: 14px 28px;
    border-radius: 10px;
    color: #fff;
    background: #2C374D;
}

.staffActionDelete{
    color: red;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5px 0 0 0;
}