main{
    display: flex;
}

section{
    width: calc(90% - 320px);
    height: 100px;
    padding: 10px 25px;
}

.sectionTitle h2{
    font-size: 24px;
    color: #333;
}


.contentTable{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.staffList{
    display: flex;
    flex-wrap: wrap;
    width: 150px;
}

.staffTitle{
    display: flex;
    height: 40px;
    background: #fff;
    width: 100%;
    margin: 10px 0 0 0;
}

.staffBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;    border-top: 1px solid #f2f2f2;
    background: #fff;
}

.contentMonth{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-x: scroll;
    width: calc(100% - 160px);
    background: #fff;
    margin: 10px 0 0 0;
    height: auto;
}

.monthContainer{
    display: flex;
    justify-content: space-between;
}

.monthBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 100px;
    height: 40px;

}


.staffFormCheck{
    display: flex;
}

.staffFormCheck label{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100px;
    height: 100px;
    border-top: 1px solid #f2f2f2;
}

.staffFormCheck label p{
    text-align: center;
    width: 100%;
}

.staffFormCheck label input{
    /* display: none; */
}

.labelActive{
    background: #2C374D;
    color: #fff;
}

.labelActive:hover{
    background: #77AD9D !important;
}

.labelActive input:checked .labelActive{
    background: #77AD9D !important;
}

.staffFormCheck label:hover{
    background: #77AD9D;
}


